Core/ConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Core" elementFormDefault="qualified" targetNamespace="urn:Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="podcastDownloaderConfiguration" type="tns:Core.PodcastDownloaderConfigurationCT" />
	<xs:complexType name="Core.PodcastDownloaderConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="proxy" type="tns:Core.ProxyConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The Proxy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="musicPlayer" type="tns:Core.MusicPlayerElementCT">
				<xs:annotation>
					<xs:documentation>The MusicPlayer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Core.ProxyConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="address" type="tns:Core.ProxyAddressElementCT">
				<xs:annotation>
					<xs:documentation>The Address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="security" type="tns:Core.ProxySecurityElementCT">
				<xs:annotation>
					<xs:documentation>The Security.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Core.ProxySecurityElementCT">
		<xs:attribute name="userName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The UserName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Core.ProxyAddressElementCT">
		<xs:attribute name="url" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Core.MusicPlayerElementCT">
		<xs:attribute name="path" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
